.header {
  background-color: #142a49;
}

.btn-signup {
  padding-left: 8px;
  padding-right: 8px;
}

#btn-signup {
  color: #142a49;
  background-color: #fff;
  border-color: #142a49;
  border-radius: 8px;
}

#size-teks {
  font-size: 10pt !important;
}

#set-fixed {
  background-color: #142a49;
}
