@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.link {
  text-decoration: none;
  color: #dadada;
  margin-right: 3rem;
  margin-top: 0.2rem;
  padding-right: 3rem;
  font-weight: bold;
  font-size: 17px;
}

.link:hover {
  color: white;
}

.me-auto {
  margin-left: 23rem;
  box-sizing: border-box;
}
