.Header {
  background-image: url("../../Assets/header-img.jpg");
  height: 750px;
}

#btn-discover {
  color: #fff;
  background-color: #142a49;
  border-color: #142a49;
  border-radius: 8px;
}

#margin-teks {
  margin-top: 290px;
}

.size-teks {
  font-size: 60px;
  color: #fff;
}
