.todo_item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.todo_true {
  text-decoration: line-through;
  opacity: 0.5;
  font-style: italic;
}

.todo_false {
  text-decoration: none;
}

.todo_checkbox {
  margin-right: 1rem;
}

.btn_delete {
  padding: 1em;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
}

.btn_delete:hover {
  background-color: rgb(199, 0, 0);
  color: rgb(214, 213, 213);
}
