.pill {
  padding: 1rem 7rem 7rem 7rem;
}

.pill input[type="text"] {
  padding: 10px;
  font-size: 13px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px 0px 0px 20px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.288);
  float: left;
  width: 80%;
  background: #ffffff;
}

.pill button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 13px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0px 20px 20px 0px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.288);
  border-left: none;
  cursor: pointer;
}
