img {
  width: 1500px;
  filter: blur(3px);
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  margin-left: 8rem;
}

.prunella {
  position: absolute;
  margin-top: 350px;
  z-index: 2;
  text-align: center;
  margin-left: 400px;
  color: #9dabdd;
}

.skincare {
  border-radius: 30px;
}

.banner {
  width: 1800px;
  background-color: #9dabdd;
}

.terlaris {
  background-color: #9dabdd;
}

.border {
  border: 2px solid white;
  border-radius: 20px;
  width: 1000px;
  margin-left: 28rem;
  box-sizing: border-box;
  z-index: 2;
  position: absolute;
  margin-top: -3rem;
  background-color: #9dabdd;
  padding: 1rem;
  color: white;
}
