// SCSS = Sassy CSS

.divBaru {
  background-color: blue;

  h1 {
    color: green;
  }
  p {
    color: red;
  }

  .divLebihBaru {
    font: sans-serif;

    button {
      background-color: yellow;
    }
  }
}
