.nav {
  height: 100%;
  transition: 0.5s;
  width: 55%;
  padding: 2.5rem;
}

.nav_link {
  margin-top: 1.25rem;
  padding: 0.5rem;
  font-size: 18px;
  display: block;
  font-weight: 700;
  opacity: 0.5;
  color: black;
}

.nav_link:hover {
  opacity: 1;
}

.nav a {
  text-decoration: none;
}
