.header {
  font-size: 72px;
  background-image: linear-gradient(90deg, rgba(234, 255, 0) 47%, rgba(53, 200, 70) 50%, rgba(0, 123, 214) 54%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
