@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.card_post:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
  transition: cubic-bezier();
}

.bg_primary {
  background-color: #79b4b7;
  border: none;
  color: white;
}

.logo {
  color: #79b4b7;
}

.logo_text {
  font-size: 20px;
}

.bg_logo {
  font-size: 64px;
  vertical-align: middle;
}

.bg_login {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 1rem 1rem;
  background-color: #79b4b7;
  color: #ffffff;
}

.login_page {
  height: 100vh;
  background-image: url("./assets/images/sample-pattern.png");
}

.content_home {
  min-height: 1080px;
}

.carousel_img {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card_img {
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.category_bg {
  background-color: rgba(121, 180, 183, 0.486);
  color: #79b4b7;
  width: fit-content;
}

.category_bg p {
  font-size: 12px;
}

.thumbnail {
  background-color: #79b4b7;
}

.card_title {
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.detail_post_banner {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card_content {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card_info {
  width: fit-content;
  font-size: 16;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.bg_isi {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.footer {
  min-height: 180px;
}

.footer_logo {
  font-size: 32px;
  /* vertical-align: middle; */
}

.footer_text {
  max-width: 300px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.ql-snow * {
  background-color: #ffffff;
  color: #000000;
  overflow: visible;
}

.ql-toolbar.ql-snow {
  background-color: #ffffff;
}

.ql-editor {
  padding: 0px;
}
