.todo {
  &-title {
    padding: 8px;
    font-weight: bold;
    // border: 2px solid #000;
    // border-radius: 2rem;
    width: fit-content;

    &-done {
      text-decoration: line-through;
    }
  }
  &-add {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    padding: 8px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);

    &-input {
      width: 100%;

      input {
        border: none;
        width: 100%;
        padding: 8px;

        &:focus {
          outline: none;
        }
      }
    }

    &-button {
      width: 15%;
      button {
        width: 100%;
        border: none;
        padding: 8px;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;

    &-checklist {
      width: 10%;
    }
    &-title {
      width: 75%;
    }
    &-button {
      width: 15%;
    }
  }
}
