<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <!-- <div  src="https://maps.google.com/maps?q=tana%20toraja&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=wae%20rebo&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=pura%20ulun%20danu%20beratan&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=air%20terjun%20tumpak%20sewu&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=taman%20nasional%20baluran&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

        <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=dunia%20fantasi&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div  src="https://maps.google.com/maps?q=trans%20studio%20bandung&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=taman%20safari%20bogor&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=pasar%20lama%20tangerang&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=masjid%20istiqlal&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=pantai%20pandawa&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=pantai%20sanur&t=&z=13&ie=UTF8&iwloc=&output=embed" </div>

    <div  src="https://maps.google.com/maps?q=pantai%20kuta&t=&z=13&ie=UTF8&iwloc=&output=embed" </div> -->
    <!-- 
    <div src="https://maps.google.com/maps?q=taman%20nasional%20bunaken&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=tebing%20keraton&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=kawasan%20kuliner%20pecenongan&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=kuliner%20jimbaran&t=&z=13&ie=UTF8&iwloc=&output=embed" >
    
    <div src="https://maps.google.com/maps?q=Pura%20tanah%20lot&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=pura%20besakih&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=gedung%20sate&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=sunrise%20point%20cukul&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=museum%20geologi&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=pulau%20komodo&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=kelor%20island&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=pink%20beach%20padar&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=bukit%20merese&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=pantai%20seger&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=gili%20meno&t=&z=13&ie=UTF8&iwloc=&output=embed" >
    
    <div src="https://maps.google.com/maps?q=gunung%20rinjani&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=kawah%20sikidang&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=candi%20arjuna&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=bukit%20sikunir&t=&z=13&ie=UTF8&iwloc=&output=embed" >

    <div src="https://maps.google.com/maps?q=telaga%20warna%20dieng&t=&z=13&ie=UTF8&iwloc=&output=embed" > -->

    <!-- <div src="https://maps.google.com/maps?q=mount%20prau&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=taman%20sriwedari&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=pura%20mangkunegaran&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=musium%20keris&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=stadion%20manahan&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=pantai%20wediombo&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=pinus%20pengger&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=goa%20jomblang&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=candi%20ratu%20boko&t=&z=13&ie=UTF8&iwloc=&output=embed">

    <div src="https://maps.google.com/maps?q=wisata%20alam%20kalibiru&t=&z=13&ie=UTF8&iwloc=&output=embed">
 -->
  </body>
</html>
